.App {
    /*text-align: center;*/
    background-color: #282c34;
    min-height: 100vh;
    color: white;
    padding: 20px;
}

.App-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);

}

.layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.orange-star{
    color: orange;
}

.purple-star{
    color: purple;
}

.rate-container{
    margin-top: 20px;
    border-top: 2px solid purple;
}

.rate-container .fa-star{
    cursor: pointer;
    font-size: 1.8rem;
}
